################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SocialNetwork
/Code/Services/UserManagement/obj
/Code/Services/UserManagement/UserManagement.csproj.user
/Code/Services/UserManagement/bin/Debug/net5.0
/Code/.vs/SocialNetwork
/Code/UI/debug.log
/Code/Services/AuthenticationService/obj
/Code/Services/IdentityAndAccessManagement/bin/Debug/net5.0
*.user
*.dll
*.exe
/Code/Services/IdentityAndAccessManagement/obj
*.pdb
/Code/Services/ContentService/bin/Debug/net5.0
/Code/Services/ContentService/obj
/Learning
/Code/Services/ApiGateway/bin/Debug/net5.0
/Code/Services/ApiGateway/obj
/Code/MessageBus.RabbitMQ/bin/Debug/net5.0
/Code/MessageBus.RabbitMQ/obj
/Code/Services/MessageBus/MessageBusCore/bin/Debug/net5.0
/Code/Services/MessageBus/MessageBusCore/obj
/Code/Services/MessageBus/MessageBus.RabbitMQ/bin/Debug/net5.0
/Code/Services/MessageBus/MessageBus.RabbitMQ/obj
/Code/Services/NotificationService/bin/Debug/net5.0
/Code/Services/NotificationService/obj
/Code/Services/FollowService/obj
