################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SocialNetwork
/Code/Services/UserManagement/obj
/Code/Services/UserManagement/UserManagement.csproj.user
/Code/Services/UserManagement/bin/Debug/net5.0
/Code/.vs/SocialNetwork
/Code/UI/debug.log
