<div class="card card-lift--hover shadow shadow-lg--hover mt-5">
    <div class="card-body">
        <div class="d-flex pl-0 row">
            <div class="col-2">
                <img src="./assets/img/theme/team-4-800x800.jpg" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 60px;">
            </div>
            <div class="pl-2 col-10">
                <h6 class="title text-blue mb-0"><b>Baala Srinivas</b></h6>
                <p class="text-black font-weight-normal">11 April 2021 11:56 PM</p>
            </div>
        </div>
        <div class="px-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="mt-2 pl-2">
            <p class="font-weight-normal"><a class="font-italic" href="#">20 Likes</a> | <a class="font-italic" href="#">6 Comments</a></p>
        </div>
        <hr class="mt-2 mb-1" />
        <div class="pt-1 pl-2 row">
            <div class="btn col-5" style="text-align:left">
                <i class="ni ni-like-2"></i>&nbsp;Like
            </div>
            <div class="col-1"></div>
            <div class="btn col-5" (click)="change()" style="text-align:right">
                <i class="ni ni-chat-round"></i>&nbsp;Comment
            </div>
        </div>

        <div *ngIf="comment == true">
            <div class="d-flex pl-0 pr-2 py-2 row">
                <div class="col-2">
                    <img src="./assets/img/theme/team-4-800x800.jpg" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 40px;">
                </div>
                <div class="px-0 col-8 rounded">
                    <textarea type="text" placeholder="Enter your comment" style="resize:none;" rows="1" class="form-control"></textarea>
                </div>
                <div class="px-0 col-1 px-2 ">
                    <button class="btn btn-icon btn-default" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-send"></i></span>
                    </button>
                </div>
            </div>
            <div class="mt-2">
                <div class="d-flex pl-0 pr-2 py-2 row">
                    <div class="col-2">
                        <img src="./assets/img/theme/team-4-800x800.jpg" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 40px;">
                    </div>
                    <div class="pl-3 pt-2 col-10 rounded" style="background-color: #f2f2f2">
                        <p class="title text-blue mb-0 font-weight-600" style="font-size:small"><b>Baala Srinivas</b></p>
                        <p class="text-black font-weight-normal mb-0" style="font-size:small">11 April 2021 11:56 PM</p>
                        <div class="py-2">
                            This is a comment
                        </div>
                    </div>
                </div>
                <div class="d-flex pl-0 pr-2 py-2 row">
                    <div class="col-2">
                        <img src="./assets/img/theme/team-4-800x800.jpg" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 40px;">
                    </div>
                    <div class="pl-3 pt-2 col-10 rounded" style="background-color: #f2f2f2">
                        <p class="title text-blue mb-0 font-weight-600" style="font-size:small"><b>Baala Srinivas</b></p>
                        <p class="text-black font-weight-normal mb-0" style="font-size:small">11 April 2021 11:56 PM</p>
                        <div class="py-2">
                            Second Comment
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>