<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white pb-2">
                            <div class="text-muted text-center mb-3">
                                <b>Complete Sign Up</b>
                                
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <form role="form">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">
                                            <img [src]="imagePreview || './assets/img/default/profile.jpg'" alt="Profile Image" class="img-fluid rounded-circle shadow-lg" style="width: 250px;">
                                        </div>
                                        <input type="file" (change)="previewImage($event);" accept="image/*" hidden #file>
                                        <div class="col-6 custom-control custom-radio mb-3">
                                            <button class="btn btn-icon btn-2 btn-primary mt-5" (click)="file.click()" type="button">
                                                <span class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">User Name</label>
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                                        </div>
                                        <input class="form-control" [(ngModel)]="user.ProfileName" name="UserName" placeholder="Eg: i_am_baala" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Gender</label>
                                    <div class="row pl-3">
                                        <div class="col-6 custom-control custom-radio mb-3">
                                            <input name="custom-radio-1" class="custom-control-input" [(ngModel)]="user.Gender" [value]=0 id="customRadio1" type="radio">
                                            <label class="custom-control-label" for="customRadio1">
                                                <span>Male</span>
                                            </label>
                                        </div>
                                        <div class="col-6 custom-control custom-radio mb-3">
                                            <input name="custom-radio-1" class="custom-control-input" [(ngModel)]="user.Gender" [value]=1 id="customRadio2" type="radio">
                                            <label class="custom-control-label" for="customRadio2">
                                                <span>Female</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Location</label>
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                                        </div>
                                        <input class="form-control" [(ngModel)]="user.Location" name="Location" placeholder="Eg: Bangalore, India" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Headline</label>
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-badge"></i></span>
                                        </div>
                                        <input class="form-control" [(ngModel)]="user.Headline" name="Headline" placeholder="Eg: Traveller | Explorer" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">About</label>
                                    <div class="input-group input-group-alternative mb-3">
                                        <textarea class="form-control" [(ngModel)]="user.About" name="About" placeholder="Few words about you" type="text"></textarea>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="button" (click)="completeSignUp()" class="btn btn-primary mt-4">Lets Get Started!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
