<div class="container">
  <div class="row">
    <div class="col-sm-5 col-md-5 ml-auto mr-auto">
      <div class="card card-login">
        <form class="form">
          <div class="card-header card-header-primary text-center">
            <h5 class="card-title">Login</h5>
            <div class="text-center">
              <a href="javascript:void(0)" class="btn btn-light">
                <span class="btn-inner--icon" (click)="signInWithGoogle()">
                  <img src="./assets/images/google.svg">
                </span>
                <span> &nbsp;Google</span>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
              </div>
              <input type="email" class="form-control" [(ngModel)]="userName" name="EMail" placeholder="Email...">
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="padding-right:20px;"><i class="fa fa-lock"></i></span>
              </div>
              <input type="password" class="form-control" [(ngModel)]="password" name="Password" placeholder="Password...">
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary" (click)="signInWithIdentity()">Log in</button>
          </div>
        </form>
      </div>
      <div class="text-right">
        <a routerLink="/register" class="text-light">
          <small>Create Account&nbsp;</small>
        </a>
      </div>
      <div class="pt-5"></div>
    </div>
  </div>
</div>
