<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-top navbar-transparent headroom headroom--top headroom--pinned">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BS Konnect</a>
        <ul class="navbar-nav" *ngIf="IsUserLoggedIn()">
            <li class="nav-item">
                <input class="form-control mt-1" placeholder="Search for friends" [(ngModel)]="searchKey" (keyup)="getNames(searchKey)" type="text" size="50"> 
                <div style="background-color:white;z-index:100;position:absolute;width:400px;">
                    <div class="px-3 py-2" (click)="getNames('', true)" [routerLink]="['/profile']" [queryParams]="{mailid: user.MailId}" style="cursor:pointer; vertical-align:middle" *ngFor="let user of users">
                        <span class="avatar avatar-sm rounded-circle">
                            <img alt="Image Placholder" [src]="user.ProfileImageUrl || 'assets/img/theme/team-4-800x800.jpg'">
                        </span>
                        <span class="font-weight-bold ml-2 mb-4">{{user.Name}}</span>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-icon" [routerLink]="['/profile']" href="javascript:void(0)">
                    <i class="fa fa-home fa-fw"></i>
                    <span class="font-weight-600">&nbsp;Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-icon" [routerLink]="['/friends']" href="javascript:void(0)">
                    <i class="fa fa-users fa-fw"></i>
                    <span class="font-weight-600">&nbsp;Friends</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-icon" [routerLink]="['/newsfeed']" href="javascript:void(0)">
                    <i class="fa fa-newspaper-o fa-fw"></i>
                    <span class="font-weight-600">&nbsp;Feed</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item" *ngIf="IsUserLoggedIn()" ngbDropdown>
                <a class="nav-link nav-link-icon" href="javascript:void(0)" id="navbar-default_notification_1" ngbDropdownToggle>
                    <i class="ni ni-bell-55"></i>
                    <span class="nav-link-inner--text d-lg-none">Notification</span>
                </a>
                <div class="dropdown-menu-right" aria-labelledby="navbar-default_notification_1" ngbDropdownMenu>
                    <a *ngIf="!notifications?.length > 0" class="dropdown-item">No New Notifications</a>
                    <a *ngFor="let msg of notifications" class="dropdown-item">{{msg}}</a>
                </div>
            </li>
            <li class="nav-item" *ngIf="IsUserLoggedIn()" ngbDropdown placement="bottom-right">
                <a class="nav-link  nav-link-icon pt-2" href="javascript:void(0)" id="navbar-default_dropdown_1" ngbDropdownToggle>
                    <div class="media align-items-center">
                        <span class="avatar avatar-sm rounded-circle">
                            <img alt="Image Placholder" [src]="profileUrl || 'assets/img/theme/team-4-800x800.jpg'">
                        </span>
                        <div class="media-body  ml-2">
                            <span class="font-weight-bold">{{userName}}</span>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1" ngbDropdownMenu>
                    <a [routerLink]="['/profile']" class="dropdown-item">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logOut()">Log out</a>
                </div>
            </li>
            <li class="nav-item" *ngIf="!IsUserLoggedIn()">
                <a class="nav-link  nav-link-icon pt-2">
                    <div class="media align-items-center">
                        <span class="avatar avatar-sm rounded-circle">
                            <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                        </span>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</nav>
