<div class="container">
  <div class="row">
    <div class="col-sm-5 col-md-5 ml-auto mr-auto pt-md-3 pt-5">
      <form class="form" (ngSubmit)="f.form.valid && signInWithIdentity()" #f="ngForm">
        <div class="card card-login">
          <div class="card-header card-header-primary text-center">
            <h5 class="card-title">Login</h5>
            <div class="text-center">
              <a href="javascript:void(0)" class="btn btn-light">
                <span class="btn-inner--icon" (click)="signInWithGoogle()">
                  <img src="./assets/images/google.svg">
                </span>
                <span> &nbsp;Google</span>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="showLoading" class="position-fixed" style="left:45%;z-index:100">
              <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
              </div>
              <input type="email" (change)="emailChange()" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" #email="ngModel" [(ngModel)]="userName" name="EMail" placeholder="Email..." title="Email is required">
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="padding-right:20px;"><i class="fa fa-lock"></i></span>
              </div>
              <input type="password" class="form-control" [(ngModel)]="password" name="Password" placeholder="Password..." required [ngClass]="{ 'is-invalid': f.submitted && Password.invalid }" #Password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
            </div>
            <div class="text-danger" style="text-align:center" *ngIf="isSuccess == '0'">Invalid username or password</div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary">Log in</button>
          </div>
          <div class="pb-3"></div>
        </div>
      </form>

      <div class="text-right">
        <a routerLink="/register" class="text-light">
          <small>Create Account&nbsp;</small>
        </a>
      </div>
      <div class="pt-2"></div>
    </div>
  </div>
</div>
