<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary bg-white pb-2">
          <div class="text-center mb-3">
            <b>Complete Sign Up</b>
          </div>
        </div>
        <form (ngSubmit)="f.form.valid && completeSignUp()" #f="ngForm" novalidate>
          <div class="card-body">
            <div class="form-group">
              <div class="d-flex justify-content-center">
                <img [src]="imagePreview || './assets/images/profile.png'" alt="Profile Image" (click)="file.click()" class="image-upload img-fluid rounded-circle" style="max-width:150px;">

                <span (click)="file.click()" class="position-absolute mt-5 image-btn" style="color:gray"><i class="fa fa-pencil-square-o fa-2x"></i></span>
                <input type="file" (change)="previewImage($event);" accept="image/*" hidden #file>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">User Name</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user-circle fa-lg"></i></span>
                </div>
                <input required class="form-control" #userName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" [(ngModel)]="user.ProfileName" name="UserName" placeholder="Eg: i_am_baala" type="text" title="User Name is required">
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">Gender</label>
              <div class="d-flex flex-row pl-3">
                <div class="px-4 custom-radio">
                  <input required name="gender" #gender="ngModel" [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }" class="custom-control-input" [(ngModel)]="user.Gender" [value]=0 id="customRadio1" type="radio" title="Gender is required">
                  <label class="custom-control-label pt-1" for="customRadio1">
                    <span>Male</span>
                  </label>
                </div>
                <div class="px-4 custom-radio">
                  <input name="gender" class="custom-control-input"  [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }" [(ngModel)]="user.Gender" [value]=1 id="customRadio2" type="radio">
                  <label class="custom-control-label pt-1" for="customRadio2">
                    <span>Female</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">Location</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                </div>
                <input required class="form-control" #location="ngModel" [ngClass]="{ 'is-invalid': f.submitted && location.invalid }" [(ngModel)]="user.Location" name="Location" placeholder="Eg: Bangalore, India" type="text" title="Location is required">
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">Headline</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding-left:10px; padding-right:10px;"><i class="fa fa-id-card"></i></span>
                </div>
                <input required class="form-control" #headline="ngModel" [ngClass]="{ 'is-invalid': f.submitted && headline.invalid }" [(ngModel)]="user.Headline" name="Headline" placeholder="Eg: Traveller | Explorer" type="text" title="Headline is required">
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">About</label>
              <div class="input-group input-group-alternative mb-3">
                <textarea class="form-control" [(ngModel)]="user.About" name="About" placeholder="Few words about you" type="text"></textarea>
              </div>
            </div>

            <div class="text-center">
              <button class="btn btn-primary mt-4">Lets Get Started!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
