<div class="container" style="margin-top:150px;">
  <div class="card card-profile">
    <div class="px-4">
      <div class="row">
        <div class="col-lg-3 order-lg-2 d-flex justify-content-center">
          <div class="card-profile-image" style="margin-top:-90px;">
            <a href="javascript:void(0)">
              <img src="{{user.ProfileImageUrl}}" class="rounded-circle img-fluid" style="max-width:200px;">
            </a>
          </div>
        </div>
        <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
          <div class="py-4 mt-lg-0">
            <a href="javascript:void(0)" [ngClass]="{ 'disabled': isHost }" *ngIf="friendState == 2" (click)="sendFriendRequest()" class="btn btn-sm btn-primary mr-4">Connect</a>
            <a href="javascript:void(0)" *ngIf="friendState == 0" class="btn btn-sm btn-primary mr-4">
              <span class="btn-inner--icon">Requested &nbsp;<i class="fa fa-check"></i></span>
            </a>
            <a href="javascript:void(0)" *ngIf="friendState == 1" class="btn btn-sm btn-primary mr-4">
              <span class="btn-inner--icon">Friends &nbsp;<i class="fa fa-check"></i></span>
            </a>
            <a href="javascript:void(0)" [ngClass]="{ 'disabled': isHost }" *ngIf="!isFollowing" (click)="followUser()" class="btn btn-sm btn-default float-right">Follow</a>
            <a href="javascript:void(0)" (click)="unfollowUserConfirmation()" *ngIf="isFollowing" class="btn btn-sm btn-default float-right">
              <span class="btn-inner--icon">Following &nbsp;<i class="fa fa-check"></i></span>
            </a>
          </div>
        </div>
        <div class="col-lg-4 order-lg-1">
          <div class="d-flex justify-content-center pt-4" style="text-align:center">
            <div class="px-2">
              <h5 class="heading">{{friendsCount}}</h5>
              <span class="description">Friends</span>
            </div>
            <div class="px-2">
              <h5 class="heading">{{imageCount}}</h5>
              <span class="description">Photos</span>
            </div>
            <div class="px-2">
              <h5 class="heading">{{postCount}}</h5>
              <span class="description">Posts</span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <h3>
          {{user.Name}}
          <span class="font-weight-light">, @{{user.ProfileName}}</span>
        </h3>
        <div class="h6 font-weight-300"><i class="fa fa-map-marker"></i>&nbsp;{{user.Location}}</div>
        <div class="h6 mt-4">
          {{user.Headline}}
        </div>
      </div>
      <br />
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 pt-3" style="overflow:hidden">
      <span class="font-weight-bold">Photos</span>
      <div class="row pl-1 px-1 py-2 mt-1 mb-4" style="box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);border: 1px solid rgba(0,0,0,.125);border-radius: .25rem">
        <div class="col-4 px-1 py-2" *ngFor="let userImage of userImages">
          <img src="{{userImage.ImageUrl}}" alt="Rounded image" class="img-fluid rounded" style="width: 250px;">
        </div>
        <div *ngIf="userImages === undefined" class="d-flex justify-content-center" style="flex:auto">
          <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div *ngIf="userImages !== undefined && userImages.length == 0" class="d-flex justify-content-center" style="flex:auto">
          This user does not have any images
        </div>
      </div>
    </div>
    <div class="tab-content col-lg-7 pt-3">
      <app-post-editor-element (newPost)="RefreshPosts()" [userProfile]="user.ProfileImageUrl" *ngIf="isHost ==  true"></app-post-editor-element>
      <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="true" [immediateCheck]="false">
        <app-post-element (onPostDelete)="RefreshPosts()" [showDelete]="isHost" *ngFor="let post of userPosts" [post]="post"></app-post-element>
      </div>
      <div *ngIf="userPosts === undefined" class="d-flex justify-content-center pb-5" style="flex:auto">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="userPosts !== undefined && userPosts.length == 0" class="d-flex justify-content-center pb-5" style="flex:auto">
        This user does not have any posts
      </div>
    </div>
  </div>
</div>
